@using FinancialPlanner.Logic.Enums;
@model FinancialPlanner.Logic.Dtos.TransactionSearchDto


@{
    var incomeList = Html.GetEnumSelectList<CategoryOfTransaction>().Where(l => int.Parse(l.Value) > 0 && int.Parse(l.Value) < 100).ToList();
    var outcomeList = Html.GetEnumSelectList<CategoryOfTransaction>().Where(l => int.Parse(l.Value) >= 100).ToList();
    var allList = Html.GetEnumSelectList<CategoryOfTransaction>().Where(l => int.Parse(l.Value) >= 0);
    var categoryList = new List<SelectListItem>();

    if (Model.Type == 0)
        categoryList = Html.GetEnumSelectList<CategoryOfTransaction>().Where(l => int.Parse(l.Value) >= 0).ToList();
    else if ((int)Model.Type == 1)
        categoryList = incomeList;
    else
        categoryList = outcomeList;

    if (Model.DateTo == default)
        Model.DateTo = DateTime.Now;

    if (Model.DateFrom == default && Model.Transactions.Any())
        Model.DateFrom = Model.Transactions.Min(x => x.CreatedAt);
    else if (Model.DateFrom == default)
        Model.DateFrom = DateTime.Now.AddDays(-7);

}

<div class="row">
    <div class="col" style="border-top-left-radius: 20px; background: #b6ccbc">
        <label class="col-form-label">Type:</label>
        <select onchange ="ustaw()" name="type" asp-for="Type" id="transactionTypeSelect" asp-items="Html.GetEnumSelectList<TypeOfTransaction>()" class="form-control">
        </select>
    </div>
    <div class="col" style="border-top-right-radius: 20px; background: #b6ccbc">
        <label class="col-form-label">Category:</label>
        <select name="category" asp-for="Category" id="categorySelect" asp-items="@categoryList" class="form-control">
        </select>
    </div>
</div>
<div class="row">
    <div class="col" style="border-bottom-left-radius: 20px; background: #b6ccbc">
        <label asp-for="DateFrom" class="control-label"></label>
        <input asp-for="DateFrom" class="form-control" />
        <span asp-validation-for="DateFrom" class="text-danger"></span>
    </div>
    <div class="col" style="border-bottom-right-radius: 20px; background: #b6ccbc">
        <label asp-for="DateTo" class="control-label"></label>
        <input asp-for="DateTo" class="form-control" />
        <span asp-validation-for="DateTo" class="text-danger"></span>
    </div>
</div>

<div style="background: #afc9b7">
    <label class="col-form-label">Description</label>
    <input style="margin-bottom:18px;" name="description" id="descrition" type="text" class="form-control" value="@Model.Description" />
</div>


<div class="form-group">
    <input type="submit" value="Search transaction" class="btn btn-primary" />
</div>

<script>
    function ustaw() {
        var outcomeOptions = @Html.Raw(Json.Serialize(outcomeList));
        var incomeOptions = @Html.Raw(Json.Serialize(incomeList));
        var allList = @Html.Raw(Json.Serialize(allList));
        var categorySelect = $('#categorySelect');
        $('#transactionTypeSelect').change(function () {
            categorySelect.empty();
            var selected = $(this).val();
            alert(selected);
            if (selected === '0') {
                addOptionsToSelect(allList);
            }
            if (selected === '1') {
                addOptionsToSelect(incomeOptions);
            }
            if (selected === '2') {
                addOptionsToSelect(outcomeOptions);
            }
        });

        function addOptionsToSelect(options) {
            options.forEach(function (i, item) {
                categorySelect.append($('<option>',
                    {
                        value: i.value,
                        text: i.text
                    }));
            });
        }
    };
</script>