@model IEnumerable<FinancialPlanner.Logic.Dtos.MonthlyIncomeAndExpenses>

@{
    ViewData["Title"] = "GetMonthlyIncomeAndExpenses";
}

<h1>GetMonthlyIncomeAndExpenses</h1>

<p>
@*    <a asp-action="Create">Create New</a>*@
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Month)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Income)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Expenses)
            </th>
            <th>
                <label>(income-outcome)</label>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Balance)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
            <tr>
                <td>
                    @{
                        var stringMounth = item.Month.ToString("MMMM");
                    }
                    @stringMounth
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Income)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Expenses)
            </td>
            <td>
                @{
                    if (item.IncomeMinusOutCome < 0)
                    {
                        <td style="color:red">
                            @Html.DisplayFor(modelItem => item.IncomeMinusOutCome)
                        </td>
                    }
                    else
                    {
                        <td>
                            @Html.DisplayFor(modelItem => item.IncomeMinusOutCome)
                        </td>
                    }
                }
            </td>
                @{
                    if (item.Balance < 0)
                    {
                        <td style="color:red">
                            @Html.DisplayFor(modelItem => item.Balance)
                        </td>
                    }
                    else
                    {
                        <td>
                            @Html.DisplayFor(modelItem => item.Balance)
                        </td>
                    }
                }
            <td>
@*                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })*@
            </td>
        </tr>
}
    </tbody>
</table>
