@model FinancialPlanner.Logic.Dtos.TransactionUserDto

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div class="card" style="width: 18rem;">
    <img class="card-img-top" src="@Model.Picture" alt="@Model.Picture">
    <div class="card-body">
        <h5 class="card-title">@Model.Description.ToUpper()</h5>
        <p class="card-text">@Model.FirstName @Model.LastName</p>
        <p class="card-text">@Html.DisplayNameFor(model => model.Category): @Html.DisplayFor(model => model.Category)</p>
        <p class="card-text text-success">@Html.DisplayNameFor(model => model.Type) : @Html.DisplayFor(model => model.Type) @Model.Amount</p>
        <p class="card-text text-warning">BALANCE: @Model.Balance</p>
        <div>
            <a class="btn btn-success" asp-action="Edit" asp-route-id="@Model?.Id">Edit</a>
            <a class="btn btn-primary" asp-controller="User" asp-action="GetUserTransactions" asp-route-id=@Model.UserId>Back to transactions</a>
            <a style="border: solid;" class="btn btn-info" asp-action="SelectByMonth" asp-route-id=@ViewData["UserId"]>Back to transaction by month</a>
        </div>
    </div>
</div>
